.logo {
    width: 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.trigram {
    display: none;
}

.menu-list {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.menu-list li {
    padding: 0 10px;

}

